vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

composer-dev.txt
composer-live.txt

public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env

.DS_Store
.DS_Store*

.idea/